/* CUSTOM CSS TO OVER RIDE THEME*/


/* Scroll Setting */
html {
    scroll-behavior: smooth;
}

#pricing, #demo, #self-service, #hosted-pages, #analysis, #all-in-one, #top {
    scroll-margin-top: 120px;
}

/* Accessibility */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
    }
}

/* Correcting theme bug */
#featuresDropdown::after { 
    display: none;
}


/* Global Color Overides */

/* Text */
.text-white {
    color: white !important;
}
.text-dark {
    color: black !important;
}

/* Background Colors */
.bg-dark {
    background-color: #150941 !important;
}
.bg-light {
    background-color: white !important;
}

.text-muted  {
    color: black !important;
}

.form-group .form-control {
    background-color: #F1F1F2 !important;
    color: black !important;
}




/* buttons */

/* hiding login button as causing customer confusion */
#login-button {
    display: none;
}

.btn-primary {
    background-color: #F80040 !important;
    font-family: "League Spartan Variable", sans-serif !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    transition: ease-out background-color 0.3s !important;
}

.btn-primary:hover {
    background-color: #150941 !important;
}

.btn-primary:active {
    background-color: #EEBA0B !important;
}

.btn-white {
    color: #F80040 !important;
    font-family: "League Spartan Variable", sans-serif !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    transition: ease-in color 0.3s !important;
}
.btn-white:hover {
    color: #150941 !important;
}

.nav-link:hover {
    color: #F80040 !important;
    transition: ease-in 0.3s color !important;
}


.dropdown-item:hover {
    color: #F80040 !important;
    transition: ease-in 0.3s color !important;
}





/* Fonts */ 

@font-face {
    font-family: 'League Spartan Variable';
    src: url('./fonts/LeagueSpartanVariable.woff2') format('woff2-variations');
    font-weight: 200 900;
  }

 #navbar {
    font-family: "League Spartan Variable", sans-serif !important;
    text-transform: uppercase !important;
    font-weight: 500;
    color: #150941;
 }

 #mce-EMAIL {
    font-family: 'League Spartan Variable', sans-serif !important;
    font-weight: 400 !important;

 }

#main-heading {
    font-family: "League Spartan Variable", sans-serif !important;
    font-weight: 600 !important;
}

#main-heading-large {
    font-family: "League Spartan Variable", sans-serif !important;
    font-weight: 600 !important;
    font-size: 6rem;
}


#para-text {
    font-family: 'League Spartan Variable', sans-serif !important;
    font-weight: 400 !important;
}


#heading-dark {
    font-family: "League Spartan Variable", sans-serif !important;
    font-weight: 600 !important;
    color: #150941 !important;
}

#heading-light {
    font-family: "League Spartan Variable", sans-serif !important;
    font-weight: 600 !important;
    color: white !important;
}

#subheading-dark {
    font-family: "League Spartan Variable", sans-serif !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    color: #150941 !important;
}

#subheading-light {
    font-family: "League Spartan Variable", sans-serif !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    color: #EEBA0B !important;
}

#title {
    font-family: "League Spartan Variable", sans-serif !important;
    font-weight: 600 !important;
    color: #150941 !important;
}


/* Backgrounds & Decorations */


#main-splash-bg {
   background-image: url(./shapes/main-splash.svg) !important;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: auto;
}

#feature-1-bg {
    background-image: url(./shapes/feature-2.svg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

#feature-2-bg {
    background-image: url(./shapes/feature-3.svg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

#pricing-bg {
    background-image: url(./shapes/pricing.svg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

#typer {
    text-decoration: underline;
    text-decoration-color: #EEBA0B;
  }

.card-body ul {
    list-style: none !important;
    padding-inline-start: 0rem !important;
}

  .card-body ul li:before {
    content: '✓' !important;
    color: #EEBA0B; 
   }


   /* Media Queries for images on phones */

   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       #mobile-reverse {
           flex-direction: column-reverse;
       }
   }